.customShadow{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/***user table***/
.userTable{
    @apply bg-white
}
.userTable th{
    @apply border text-base font-medium
}

.userTable td {
    @apply border text-base;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
}
.price-right {
    text-align: right !important; 
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar{
    display: none;
}

